@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* GENERAL */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

@font-face {
    font-family: AudioWide;
    src: url('/Fonts/Audiowide-Regular.ttf');

}

@font-face {
    font-family: Bolgart;
    src: url('/Fonts/Bolgart.ttf');
}

body {
	font-family: 'Poppins', sans-serif;
    /* background-color: #05050f; */
	color: #FFFFFF;
    
    background-size: cover;
    background-position: center;
}

a {
	color: #FFFFFF;
	font-weight: 900;
    text-decoration: none;
}

/* Home */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    z-index: 999;
    padding-right: 50px;
    background: -webkit-linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 100%);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(05px);
    backdrop-filter: blur(05px);
}

.navbar a {
    margin-left: 5%;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.navbar a:hover {
    color: #001b6a;
}

.navbar #logo {
    font-size: 25px;
    font-weight: 900;
    color: #FFFFFF;
    transition: all 0.3s ease;
    margin-right: 45%;
    font-family: 'AudioWide';
}

.main form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.main form label {
    font-size: 12px;
    font-weight: 100;
    margin-top: 10px;
}

.main form button {
    margin-left: 0%;
    border-radius: 10px;
}

.main form input {
    width: 600px;
    height: 35px;
    margin-top: 5px;
    padding: 5px 20px;
    border: none;
    background-color: #ffffff;
    color: #38349c;
    font-size: 16px;
    font-weight: 700;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
  flex-direction: column;
  font-family: 'AudioWide';

   
}
.mem{
display: flex;
justify-content: center;
margin-top: 05%;
gap: 10%;

}
.team-member {
 position: relative;
  display: inline-block;
  height: 100%;
margin: 20px;
 border-radius: 20px;
 /* background: -webkit-linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 100%); */
    -webkit-backdrop-filter: blur(05px);
    backdrop-filter: blur(05px);
 box-shadow: 0 0 05px #fff;
 transition: all 1s ease-out;
  }
  .team-member:hover{
    box-shadow: 0 0 05px #ffffff93, 0 0 2px #ffffff8e, 0 0 3px #0f0303, 0 0 4px #00bfff, 0 0 7px #1900ff98, 0 0 8px #0044ff, 0 0 10px #0004ff, 0 0 15px #0400ff;
     scale: 1.1;
     border: 2px solid black;
      }
  
  .team-member img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    display: block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top:50% ;
    border-radius: 1rem;

  }
  
  .overlay h3 {
    font-size: 28px;
    color: #fff;
    
  }
  
 
  
  .team-member:hover .overlay {
    opacity: 1;
  }
  
.main h1{
    display: flex;
    justify-content: center;
    font-size: 3.2rem;
    margin-top: -10%;
  
    
}

.main h2 {
    display: flex;
    justify-content: center;
    font-size:1.5rem;
    font-weight: 100;
  margin-top: 5px;
    color: #F8f8f8;
    
}








.main h4 {
    font-size: 15px;
    font-weight: 100;
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    color: #F8f8f8;
    text-align: justify;
}

.main span#button_flex {
    display: flex;
   
    align-items: center;
    flex-direction: row;
    margin-left: 7rem;
}

.main button {
    width: 125px;
    height: 35px;
    margin-top: 20px;
    padding: 5px 20px;
    border: none;
    background-color: #001b6a;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 15px;
    transition: all 0.3s ease;
    margin-left: 50px;
    margin-right: 50px;
}

.main button:hover {
    transform: scale(1.1);
    color: #ffffff;
    cursor: pointer;
}

#active {
    color: #ffffff;
    font-weight: 700;
    background-color: #001b6a;
    width: 80px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    z-index: 999;
    padding-left: 4%;
    color: #6868b3;
}

.footer #power {
    padding-left: 25vw;
}