@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: AudioWide;
  src: url("/Fonts/Audiowide-Regular.ttf");
}

@font-face {
  font-family: Bolgart;
  src: url("/Fonts/Bolgart.ttf");
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: #ffffff;

  background-size: cover;
  background-position: center;
}

a {
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  z-index: 999;
  padding-right: 50px;
  background: -webkit-linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.8) 100%
  );
  border-radius: 20px;
  -webkit-backdrop-filter: blur(05px);
  backdrop-filter: blur(05px);
}

.navbar a {
  margin-left: 5%;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: #001b6a;
}

.navbar #logo {
  font-size: 25px;
  font-weight: 900;
  color: #ffffff;
  transition: all 0.3s ease;
  margin-right: 45%;
  font-family: "AudioWide";
}

/* Main  */

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "AudioWide";
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12%;
  justify-content: center;
  margin-top: 15px;
  font-family: sans-serif;
}

.card {
  width: 17vw;
  height: 33vh;
  margin-bottom: 20px;
  box-shadow: 1.5rem 1.6rem 4rem -2rem rgb(51, 13, 218);

  background-color: #001b6a;
  box-sizing: border-box;
  border-radius: 15px;
  transition: 0.5s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #37349c34;
  -webkit-backdrop-filter: blur(05px);
  backdrop-filter: blur(05px);
}

.card img {
  max-width: 50%;
  height: auto;
  margin-bottom: 15px;
}

.card h3 {
  padding-left: 3px;
  padding-right: 3px;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 1rem;
}

.overlay h3 {
  font-size: 28px;
  color: #fff;
}

.card:hover .overlay {
  opacity: 5;
  backdrop-filter: blur(05px);

}

.main h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin-top: 01%;
}

.main h4 {
  font-size: 15px;
  font-weight: 100;
  margin-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
  color: #f8f8f8;
  text-align: justify;
  margin-bottom: 10px;
}

.main span#button_flex {
  display: flex;

  align-items: center;
  flex-direction: row;
  margin-left: 7rem;
}

.main button {
  width: 125px;
  height: 35px;
  margin-top: 20px;
  padding: 5px 20px;
  border: none;
  background-color: #001b6a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 15px;
  transition: all 0.3s ease;
  margin-left: 50px;
  margin-right: 50px;
}

.main button:hover {
  transform: scale(1.1);
  color: #ffffff;
  cursor: pointer;
}

/* active  */

#active {
  color: #ffffff;
  font-weight: 700;
  background-color: #001b6a;
  width: 80px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
}

/* footer  */

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  z-index: 999;
  padding-left: 4%;
  color: #6868b3;
}

.footer #power {
  padding-left: 25vw;
}
