@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* GENERAL */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    scrollbar-width: none;
    &::-webkit-scrollbar {display: none};
    

}

html {
	scroll-behavior: smooth;
}

@font-face {
    font-family: AudioWide;
    src: url('/Fonts/Audiowide-Regular.ttf');

}

@font-face {
    font-family: Bolgart;
    src: url('/Fonts/Bolgart.ttf');
}

body {
	font-family: 'Poppins', sans-serif;
    background-color: black;
	color: #FFFFFF;
   
    background-size: cover;
    background-position: center;
}

a {
	color: #FFFFFF;
	font-weight: 900;
    text-decoration: none;
}



/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    z-index: 999;
    padding-right: 50px;
    background: -webkit-linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 100%);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(05px);
    backdrop-filter: blur(05px);
}

.navbar a {
    margin-left: 5%;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.navbar a:hover {
    color: #001b6a;
}

.navbar #logo {
    font-size: 25px;
    font-weight: 900;
    color: #FFFFFF;
    transition: all 0.3s ease;
    margin-right: 45%;
    font-family: 'AudioWide';
}



/* Main */


.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: row;
  z-index: 30;
  font-family: 'AudioWide';
  gap: 6rem;


   
}

.main h1{
    position: absolute;
    top: -10rem;
}



.Glass{
    height: 40%;
    width: 45rem;
    
    background: -webkit-linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 100%);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(05px);
    transition: all 1s ease-out;   
    backdrop-filter: blur(05px);
    background-color: #37349c34;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  
.main h1{
    display: flex;
    justify-content: center;
    font-size: 3.2rem;
    margin-top: 17%;
  
    
}

.main h4 {
    font-size: 15px;
    font-weight: 100;
    width: 50rem;
    text-align: center;
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    color: #F8f8f8;
    text-align: justify;
    word-spacing: 4.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main span#button_flex {
    display: flex;
   
    align-items: center;
    flex-direction: row;
    margin-left: 7rem;
}



/* Youtube */




.youtube{
   
    border-radius: 20px;
   transition: all 1s ease-out;
}

.youtube:hover,.Glass:hover{
    scale: 1.1;
}


/* active  */

#active {
    color: #ffffff;
    font-weight: 700;
    background-color: #001b6a;
    width: 80px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
  }
  





/* Footer */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    z-index: 999;
    padding-left: 4%;
    color: #6868b3;
}

.footer #power {
    padding-left: 25vw;
}